 .u-section-1 {
  background-image: url("images/9c8fe810-edaa-45c6-9e9c-275cd3991b60.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 637px;
}

.u-section-1 .u-group-1 {
  width: 497px;
  height: 497px;
  min-height: 497px;
  margin: 70px auto 70px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 0 23px;
}

.u-section-1 .u-text-2 {
  margin: 21px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 824px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px auto 0 0;
}

.u-section-2 .u-line-1 {
  transform-origin: right center;
  margin: 60px 0 0;
}

.u-section-2 .u-group-1 {
  width: 751px;
  min-height: 297px;
  height: auto;
  margin: 70px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-text-2 {
  font-style: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  line-height: 2;
  font-size: 1rem;
  margin: 20px 20px 0 0;
}

.u-section-2 .u-list-1 {
  width: 467px;
  margin: 27px 284px 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 206px;
  grid-gap: 10px 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 14px;
}

.u-section-2 .u-text-4 {
  margin: -57px 18px 0 99px;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 14px;
}

.u-section-2 .u-text-5 {
  margin: -57px 18px 0 99px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }

  .u-section-2 .u-list-1 {
    margin-right: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-right: 73px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 338px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 218px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 17px 49px 17px 47px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 300px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 180px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 46px;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    padding-right: 39px;
    padding-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1341px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 61px 0 0 auto;
}

.u-section-4 .u-line-1 {
  transform-origin: right center 0px;
  margin: 60px 0 0 auto;
}

.u-section-4 .u-gallery-1 {
  height: 964px;
  width: 751px;
  margin: 69px 0 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 10px 10px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 41px 0 59px auto;
  padding: 9px 44px 10px 43px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2827px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 3697px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2215px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
    height: 2773px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1534px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 1746px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 841px;
}

.u-section-5 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px auto 0 0;
}

.u-section-5 .u-line-1 {
  transform-origin: right center;
  margin: 62px 0 0;
}

.u-section-5 .u-group-1 {
  min-height: 545px;
  background-image: none;
  height: auto;
  width: 751px;
  margin: 71px 0 -32px auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  object-position: 0% 47.63%;
  width: 198px;
  height: 198px;
  background-image: url("images/af8acdc5-1c1b-4d6f-b178-0aaea73bbbae.jpg");
  background-position: 50% 50%;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin: 16px 0 0;
}

.u-section-5 .u-icon-1 {
  width: 101px;
  height: 101px;
  background-image: none;
  margin: 31px auto 0 0;
  padding: 31px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-bottom: -3px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-bottom: -139px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 932px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  margin: 60px auto 0 0;
}

.u-section-6 .u-line-1 {
  transform-origin: right center;
  margin: 61px 0 0;
}

.u-section-6 .u-list-1 {
  width: 361px;
  margin: 67px 0 60px auto;
}

.u-section-6 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 643px;
  grid-gap: 30px 30px;
}

.u-section-6 .u-list-item-1 {
  background-image: none;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-group-1 {
  height: auto;
  width: 280px;
  min-height: 280px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 193px;
  height: 193px;
  background-image: url("images/WPIK6384.JPG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 400;
  margin: 42px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 300;
  font-style: normal;
  margin: 21px 0 0;
}

.u-section-6 .u-group-2 {
  min-height: 54px;
  margin-top: 28px;
  margin-bottom: 0;
  height: auto;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 27px;
  min-height: 16px;
  width: 101px;
  min-width: 68px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1522px;
  }

  .u-section-6 .u-list-1 {
    width: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1577px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 61px;
    font-size: 1.5rem;
  }

  .u-section-6 .u-line-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-list-1 {
    width: 340px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.5rem;
  }
}